.books {
  text-decoration: none;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  width: 100%;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.books:hover {
  box-shadow: 0 2px 5px #1e1d1d33;
}

.book-title,
.book-genre,
.book-author {
  margin: 0;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #333;
}