.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
}

.label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #FFF;
}

.input {
  font-size: 1.5rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s;

  &::placeholder {
    color: #aaa;
  }

  &:focus {
    border-color: #cc146d;
    outline: none;
  }
}