.form-login {
  background-color: #f072f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0 0 0 / 10%);
  width: 100%;
  max-width: 400px;
  margin-top: 0;
  margin-left: 32%;
}

.heading-login {
  color: #f3e6f5;
  font-family: helvetica,
    arial,
    sans-serif;
}

.input-field {
  margin-bottom: 20px;
  background-color: #f3e6f5;
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.error {
  color: red;
  font-size: 0.8rem;
  position: absolute;
  bottom: -20px;
  left: 0;
}

.submit-button,
.forgot-button {
  background-color: #fb6090;
  color: white;
  border: none;
  padding: 7px 15px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
}

.forgot-button {
  background-color: #f072f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0 0 0 / 10%);
  margin-top: 2%;
  margin-left: 32%;
  width: 37%;
  height: 0.4%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  text-decoration: underline;
  padding: 9px;
}

.submit-button:hover,
.forgot-button:hover {
  background-color: #fb6090;
}