.reset-page {
  text-align: center;
}

.form {
  background-color: var(--form-background-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 6px 20px var(--box-shadow);
  width: 100%;
  margin-top: 3em;
  max-width: 400px;
  display: inline-block;
}

.heading {
  color: var(--white);
  font-family: var(--font-family);
  margin-right: 5em;
  font-size: 30px;
  margin-bottom: 1.5em;
}


.error-new-password,
.error-confirm-password {
  color: #d12b2b;
  font-size: 1rem;
  bottom: -20px;
  left: 0;
  font-family: var(--font-family);
}

.submit-button {
  background-color: var(--background-button);
  color: white;
  border: none;
  padding: 7px 15px;
  margin-top: 10px;
  margin-bottom: 1em;
  ;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
}

.login-button {
  text-decoration: none;
  color: #ffff;
  font-size: 20px;
}

.login-button:hover {
  color: var(--hover-text);
}

.submit-button:hover {
  background-color: var(--hover-text);
}