#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --white-font-color: #FFF;
  --background-button: #ec578e;
  --background-button-hover: #d64481;
  --background-form: #D782E0;
  --font-family: helvetica, arial, sans-serif;
  --global-background-color: #f4a7f4;
}

body {
  background-color: var(--global-background-color);
}

form {
  padding: 2rem;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}